body
    {
        text-align: center;
        background-image: url("images/teaStainedPaper.jpg");
        background-size: cover;
    }

h1
    {
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 50px;
        border-style: double;
        border-width: thick;
        border-top-left-radius: 60px;
        border-bottom-right-radius: 60px;
        border-color: crimson;

        
    }

h2
    {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 30px;
        color:rgb(76, 121, 121);
        border-style:inset;
        border-width: 10px;
        border-color: chocolate;
        text-shadow: 2px 3px rgba(65, 105, 225, 0.493) ;
    }

h3
    {
        font-size: 30px;
        color: rgb(107, 55, 107);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-decoration: underline double;
    }

p 
    {
        font-size: 20px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(66, 90, 121);
        font-weight: bold;
    }

a:any-link
    {
        background-color: greenyellow;
        color: royalblue;
    }

a:hover
    {
        color: blueviolet;
        font-size: 200%;
    }